mixin topic-card(type, topic, image)
  .main__card
    .main__card-img
      img.main__card-picture(src=image alt="изображение")
    .main__card-type=type 
    .main__card-topic=topic 
    .main__card-user
      span.main__card-author Niek Bove
      span.main__card-date April 3, 2018
      span.main__card-views 3k Views 
    .main__card-description теееееееееееееееееееееееекст поооооооооооостааааааа
      
main 
  div.main
    